@import '../../common/colors.scss';

.footer {
  background-color: $secondary-color-dark;
  padding: 40px 0;
  color: $font-primary;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  margin-top: 20px;
  position: relative;
  bottom: 0;

}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100vw;
}
