@import "../../../common/colors.scss";

.movie-section {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: $font-primary;
  flex: 1;
}

.movie-info-top {
  display: flex;
  justify-content: space-evenly;
}

.movie-info, .movie-plot {
  // border: 1px solid red;
  max-width: 45vw;
  display: flex;
  flex-direction: column;

  span {
    color: $font-primary;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    // border: 1px solid $font-primary;

    h4 {
      color: $font-secondary;
      display: flex;
      margin-left: 10px;
      i {
        margin-left: 5px;
      }
    }
  }
}

.movie-plot {
  span {
    margin: 20px 0;
    text-align: justify;
    min-width: 650px;

    h4 {
      margin-left: 0;
    }
    // border: 1px solid $font-primary;
  }
}

.movie-title {
  min-width: 600px;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: $font-secondary;
}
