@import './common/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: $font-primary;
}

body {
  background-color: $primary-color-dark;
}

.container {
  // max-width: 1200px;
  margin: 0 40px;
}
