$primary-color: #c847ff;
$secondary-color: #ff54cc;
$font-primary: #fef98d;
$font-secondary: #e1ffe3;

$primary-color-dark: #7502a6;
$secondary-color-dark: #a40073;

$primary-color-light: #de90ff;
$secondary-color-light: #ffa5e4;
