$primary-color: #17003b;
$secondary-color: #fff4fc;
$font-primary: #fef98d;
$font-secondary: #e1ffe3;

$primary-color-dark: #1b005edf;
$secondary-color-dark: #00114eca;

$primary-color-light: #9b41c1;
$secondary-color-light: #d8a5ff;
