$primary-color: #c847ff;
$secondary-color: #ff54cc;
$font-primary: #fef98d;
$font-secondary: #e1ffe3;

$primary-color-dark: #240034d3;
$secondary-color-dark: #a400735f;

$primary-color-light: #bc77d9;
$secondary-color-light: #ffa5e4;
